#page {
  height: 100vh;

  display: flex;
  flex-flow: column;
}

#container {
  flex: 1 1 auto;
  display: flex;
}


#menus {
  flex-basis: 20%;
  height: 100%;
  display: flex;
  flex-direction: column;
}


#map-container {
  flex-basis: 80%;
  height: 100%;
  background-color: lightgray;
  overflow: auto;

}
