#page {
  height: 100vh;

  display: flex;
  flex-flow: column;
}

#container {
  flex: 1 1 auto;
  display: flex;
}


#menu {
  flex-basis: 20%;
  
  height: 100%;
}

#map-container {
  flex-basis: 80%;
  height: 100%;
  background-color: lightgray;
  overflow: auto;

}

#properties {
  position: fixed;
  flex-basis: 20%;
  bottom : 0;
}

#title{
  float : left;
  margin-right: 1%;
}

#submitButton{
  width: 10%;
  flex-basis:90%;
}

#dialog{
  padding:10%;
}